.headerClass {
  background-color: #272727;
  background-size: cover;
  height: 12vh;

  width: 100vw;
  padding: 15px;
}

.website-Logo {
  width: 70px;
  height: 70px;
  margin-right: 100px;
}
.nav-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
}
.listStyle {
  list-style-type: none;
}
.logout-desktop-btn {
  background-color: #4f46e5;
  color: #f8fafc;
  font-weight: bold;
  padding: 10px;
  border: none;
  border-radius: 8px;
  margin-left: 15px;
  margin-right: 15px;
}
.nav-link {
  text-decoration: none;

  color: #f8fafc;
  margin-right: 20px;
  font-weight: bold;
  font-size: 22px;
}
.data-links {
  display: flex;
  flex-direction: row;
}
