.bg-container {
  background-color: #000000;
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'roboto';
}
.form-conatiner {
  background-color: #272727;
  display: flex;
  flex-direction: column;

  border: none;
  width: 25vw;
  height: 45vh;
  border-radius: 10px;
  padding: 20px;
}
.website-logo {
  width: 100px;
  height: 100px;
  align-self: center;
  margin-bottom: 15px;
}
.labelData {
  color: #ffffff;
  font-weight: bold;
  margin-bottom: 10px;
}
.userInput {
  border: 2px solid #64748b;
  color: #64748b;
  font-weight: bold;
  background-color: transparent;
  height: 50px;
  padding-left: 10px;
  margin-bottom: 15px;
  border-radius: 8px;
}
.btn {
  background-color: #4f46e5;
  color: #ffffff;
  padding: 10px;
  border: none;
  border-radius: 8px;
  font-weight: bold;
}
.error {
  color: #ff0b37;
}
